<?xml version="1.0" encoding="UTF-8"?>

<!-- This fragment is inclued in the python wheel and used by GRR -->

<!-- We want the installer to create Fleetspeak's log directory on
     install. Wix requires us to have a static GUID for the directory. -->
<?define LOGDIRGUID="0D58409B-F48A-463A-80B8-654A69EC05F8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <SetDirectory Id="FleetspeakLogDir" Value="[%SYSTEMROOT]\Temp\Fleetspeak" />

    <DirectoryRef Id="FleetspeakInstallDir">
      <!-- It is recommended to have at most one file per component. -->
      <!-- Note that service deletion does not occur on uninstall if we use
           a fixed component-guid (so we generate a new one every time). -->
      <Component Id="FleetspeakClient" Guid="*">
        <File
            Id="FleetspeakClient"
            Name="fleetspeak-client.exe"
            Source="$(var.FLEETSPEAK_EXECUTABLE)"
            Checksum="yes"
            KeyPath="yes" />
        <!-- -stderrthreshold=3 turns off logging to stderr, which would
             kill the Windows service. -->
        <ServiceInstall
            Arguments="-config=[FleetspeakInstallDir]fleetspeak-client.config -stderrthreshold=3 -log_dir=[%SYSTEMROOT]\Temp\Fleetspeak"
            Id="ServiceInstaller"
            Type="ownProcess"
            Name="FleetspeakClientService"
            DisplayName="FleetspeakClientService"
            Description="Fleetspeak communication agent."
            Start="auto"
            Account="LOCALSYSTEM"
            ErrorControl="normal"
            Vital="no">
          <ServiceConfig
              DelayedAutoStart="yes"
              OnInstall="yes"
              OnReinstall="yes" />
          <!-- Restart the Fleetspeak service two minutes after every crash or
               service termination. -->
          <util:ServiceConfig
              ResetPeriodInDays="1"
              RestartServiceDelayInSeconds="120"
              FirstFailureActionType="restart"
              SecondFailureActionType="restart"
              ThirdFailureActionType="restart" />
        </ServiceInstall>
        <ServiceControl
            Id="FleetspeakClientService_ServiceControl"
            Name="FleetspeakClientService"
            Start="install"
            Stop="both"
            Remove="uninstall"
            Wait="no" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="FleetspeakLogDir">
      <!-- Create the logs directory if it does not already exist. Setting
           Permanent=yes means that we do not want the directory to be
           deleted on uninstall. -->
      <Component
          Id="LogDirComponent"
          Guid="$(var.LOGDIRGUID)"
          KeyPath="no"
          NeverOverwrite="yes"
          Permanent="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="FleetspeakComponentGroup">
      <ComponentRef Id="FleetspeakClient" />
      <ComponentRef Id="LogDirComponent" />
    </ComponentGroup>

  </Fragment>
</Wix>
