# Adhere to the directory structure imposed on us by the go toolchain.
clone_folder: C:\gopath\src\github.com\google\fleetspeak

environment:
  # Set GOPATH so the go toolchain can find the repo.
  #
  # Default GOROOT is C:\go, which is where appveyor installs the latest
  # version of go (so no need to define the env variable here).
  GOPATH: C:\gopath

  # Make sure the gcc compiler is in the PATH (for cgo compilation).
  PATH: '%PATH%;%GOPATH%\bin;C:\mingw-w64\x86_64-7.2.0-posix-seh-rt_v5-rev1\mingw64\bin'

install:
- go version
- ps: Write-Output $env:PATH
# TODO: remove 2 lines below when git.apache.org is back up or when
# osquery-go uses a correct version of the Thrift library (the one
# hosted on github.com and not on git.apache.org).
- ps: New-Item -ItemType Directory -Path %GOPATH%\src\git.apache.org
- git clone https://github.com/apache/thrift.git %GOPATH%\src\git.apache.org\thrift.git
- go get -v -t ./...  # Install go dependencies.
- go get -u golang.org/x/lint/golint
- C:\Python36-x64\python.exe -m venv C:\fsenv
- C:\fsenv\Scripts\activate.bat
- pip install --user --upgrade pip
- pip install -e .\fleetspeak_python

before_build:
- ps: $lint_errors = (golint ./... | Select-String -NotMatch 'should have comment or be unexported')
- ps: $lint_errors
- ps: if ($lint_errors.Length -gt 9) { throw 'New lint errors introduced!' }

# Build executables needed by tests.
build_script:
- >-
  go build -o fleetspeak/src/client/socketservice/testclient/testclient.exe
  github.com/google/fleetspeak/fleetspeak/src/client/socketservice/testclient
- >-
  go build -o fleetspeak/src/client/daemonservice/testclient/testclient.exe
  github.com/google/fleetspeak/fleetspeak/src/client/daemonservice/testclient

# Build all Fleetspeak packages, and run all tests.
test_script:
- pip show fleetspeak
- go test github.com/google/fleetspeak/fleetspeak/src/common/... --timeout 90s
- go test github.com/google/fleetspeak/fleetspeak/src/client/... --timeout 90s
# TODO(ogaro): Move src/windows to src/client.
- go test github.com/google/fleetspeak/fleetspeak/src/windows/... --timeout 90s
