# Fleetspeak https configuration file. This is a text format
# fleetspeak.plugins.HttpsConfig protocol buffer.

# The address to bind to.
listen_address: "localhost:4321"

# A PEM encoded x509 certificate chain that the server should present as its
# identity.
certificate: ""

# A PEM encoded private key matching the start of the certificate chain in
# certificate.
key: ""

# Whether to activate experimental streaming connection support on the server,
# meaning that the server will include support for both legacy and streaming
# clients.
streaming: false
