# Fleetspeak https configuration file. This is a text format
# fleetspeak.plugins.HttpsConfig protocol buffer.

# The address to bind to.
listen_address: "localhost:4321"

# A PEM encoded x509 certificate chain that the server should present as its
# identity.
certificate: ""

# A PEM encoded private key matching the head of the certificate chain in
# certificate.
key: ""

# Whether to activate experimental streaming connection support on the
# server. Also required streaming enabled clients.
streaming: false
