# Fleetspeak server configuration file.  This is a text format
# fleetspeak.server.ServerConfig protocol buffer.

# The primary purpose of this file is to determine where messages for each
# service go. Each 'services' block routes message for a particular service.

# This example sends GRR messages to a server over GRPC without authentication
# or encryption - it should only be used when the GRR server is bound to
# localhost or otherwise firewalled away from general access.
#services {
#  name: "GRR"
#  factory: "GRPC"
#  config {
#    [type.googleapis.com/fleetspeak.grpcservce.Config] {
#       target: "localhost:<port>"
#       insecure: true
#    }
#  }
#}
