[Unit]
Description=Fleetspeak Server Service
After=syslog.target network.target
Documentation=https://github.com/google/fleetspeak

[Service]
User=fleetspeak
Group=fleetspeak
ExecStart=/bin/ls -l /etc/fleetspeak-server
Restart=always

[Install]
WantedBy=multi-user.target
