[Unit]
Description=Fleetspeak Server Service
After=syslog.target network.target
Documentation=https://github.com/google/fleetspeak

[Service]
User=fleetspeak
Group=fleetspeak
ExecStart=find /
Restart=always

[Install]
WantedBy=multi-user.target
