[Unit]
Description=Fleetspeak Client Service
After=syslog.target network.target
Documentation=https://github.com/google/fleetspeak

[Service]
User=root
ExecStart=/usr/bin/fleetspeak-client --config /etc/fleetspeak-client/client.config
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
